<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.post.api.mapper.BoardMapper">



    <select id="boardList" resultType="com.post.api.dto.BoardDto">
        SELECT
        *
        FROM
        board
    </select>

    <insert id="insertBoard" parameterType="com.post.api.dto.BoardDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board(  <!-- create_date, modift_date의 default 값은 now() -->
            id, title, content, category_id
        )
        VALUES(
            #{id}, #{title}, #{content}, #{categoryId}
        )
    </insert>


</mapper>